/* mobile first */

@media (max-width: 600px) {
body {
background: hsl(212, 45%, 89%);
font-size: 15px;
width: 100vw;

margin: 0
}

.card {
    width: 90%;
    margin: 3rem auto 0;
    height: 40%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
}
.qrCode {
    width: 100%;
    margin: auto;
}

img {
  border-radius: 1rem;
    width:100%;
    margin:  auto;
    transform: scale(0.9);
}
.content {
    width: 90%;
    margin: auto;
   text-align: center;
   padding-bottom: 3rem;
}
.content__title {
    
    font-family: 'Outfit:wght@700', sans-serif;
}

.content__text {
    font-family: 'Outfit:wght@400', sans-serif;
    color: hsl(220, 15%, 55%)
    
}
}

@media (min-width: 600px) {
    body {
    background: hsl(212, 45%, 89%);
    font-size: 15px;
    width: 100vw;
    
    margin: 0
    }
    
    .card {
        width: 40%;
        margin: 3rem auto 0;
        height: 70%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 2rem;
    }
    .qrCode {
        width: 100%;
        margin: auto;
    }
    
    img {
      border-radius: 1rem;
        width:100%;
        margin:  auto;
        transform: scale(0.9);
    }
    .content {
        width: 90%;
        margin: auto;
       text-align: center;
       padding-bottom: 3rem;
    }
    .content__title {
        
        font-family: 'Outfit:wght@700', sans-serif;
    }
    
    .content__text {
        font-family: 'Outfit:wght@400', sans-serif;
        color: hsl(220, 15%, 55%)
        
    }
    }